{{!-- app/todos/template.hbs --}}

{{!-- 

Developer notes:
Add "ui container" to top-level routes 

--}}
<div class="ui orange tag label">Level 2:todos shim</div>

<div class="ui container">
  
  {{todo-page todos=model}}
</div>


    
