{{!-- app/dev/template.hbs --}}

<div class="ui orange tag label">Level 2. [shim] dev</div>

{{!-- Note: the shim must inject the model into the component --}}

<div>
  {{dev-page model=model}}
</div>


    
