{{!-- app/home/template.hbs --}}

<div class="ui orange tag label">Level 2. Home</div>

<div class="ui segment">
<div class="ui yellow tag label">Level 3. Wrap all contenet in 'ui segment'</div>
  <h1>I'm home</h1>
  <p>Note that although the page is 'home', the route index is '/'.</p>

</div>
