{{! app/components/add-todo-widget/templates.hbs }}

{{!-- For semantic-ui formatting of forms see: http://semantic-ui.com/collections/form.html

If we follow the semantic-ui way of doign form validation, we get a lot of styling out of the box. Nice!

 --}}

<div class="ui green tag label">Level 4. todo-page:add-todo-widget</div>

<div class="ui segment">
  
  <h2>New Message</h2>
  <form class="ui form" id="textForm" {{action "submit" on="submit"}}>
    <div class="field">
      <label>Message</label>
      {{input type="text" name="empty" placeholder="text" value=text}} 
      {{!-- <input type="text" name="first-name" placeholder="text"> --}}    
    </div>
    <button class="ui submit button" type="submit">Submit</button>
    <div class="ui error message"></div>
  </form>
</div>
