  
{{!-- 

Component details

injected by: todo-widget
vars: todos  

 --}}


  <div class="ui section">
    <h2>Messages</h2>
    <ul>
      {{#each todos as |todo|}}
        <li>{{ todo.text }}</li>
      {{/each}}
    </ul>
  </div>
