{{!-- app/show-todos-widget/template.hbs --}}

  <div class="ui green tag label">Level 4. [Nested component] todo-page:show-todos-widget</div>
  
  <div class="ui section">
  
    <h2>Messages</h2>
    <ul>
      {{#each todos as |todo|}}
        <li>{{ todo.text }}</li>
      {{/each}}
    </ul>
  </div>
