{{! app/components/todo-page/template.hbs }}

<div class="ui yellow tag label">Level 3. todo-page</div>
<div class="ui segment">

  {{todo-page/add-todo-widget onAdd=(action 'addTodo')}}

  {{todo-page/show-todos-widget todos=todos}}

</div>
