{{!-- app/templates/application/hbs --}}

{{!-- 

Developer notes:
Add "ui container" to top-level routes 

--}}

<div class="ui red tag label">Level 1. MWL-template</div>

<div class="ui container">
  
  {{outlet}}

</div>

